@import "fonts"
@import "libs"
@import "vars"

*
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
	&:before, &:after
		-webkit-box-sizing: border-box
		-moz-box-sizing: border-box
		box-sizing: border-box
*::selection
	background: $focus_color
	color: $white

*::-moz-selection
	background: $focus_color
	color: $white

*::-webkit-input-placeholder
	color: #555564
	opacity: 1

*:-moz-placeholder
	color: #555564
	opacity: 1

*::-moz-placeholder
	color: #555564
	opacity: 1

*:-ms-input-placeholder
	color: #555564
	opacity: 1


html, body
	margin: 0
	height: 100%
	width: 100%
	-webkit-font-smoothing: antialiased
	-webkit-overflow-scrolling: touch
	font-size: 16px

body
	font-size: 18px

#app
	background-color: green

@import "media" // Всегда в конце
